<div class="body">
    <div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" name="name" ngModel/>
                <input type="email" placeholder="Email" name="email" ngModel/>
                <input type="password" placeholder="Password" name="password" ngModel/>
                <select placeholder="Role"  name="role" ngModel >
                    <option value="" selected disabled hidden>Role</option>
                    <option value="dealer" >Dealer</option>
                    <option value="distributor">Distributor</option>
                    <option value="direct dealer">Direct Dealer</option>
                </select>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signUp" (click)="signUp()">Sign In</button>
                </div>
                <!-- <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div> -->
            </div>
        </div>
    </div>
    
    
    </div>