<div class="nav-items">
    <div class="nav-item" (click)="user()">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>User</span>
    </div>

    <div class="nav-item" (click)="category()">
      <fa-icon [icon]="faChain"></fa-icon>
      <span>Category</span>
    </div>

    <div class="nav-item" (click)="product()">
      <fa-icon [icon]="faShop"></fa-icon>
      <span>Products</span>
    </div>


    <div class="nav-item" (click)="parts()">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
      <span>Parts</span>
    </div>

    <!-- <div class="nav-item" (click)="products()">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
      <span> Products </span>
    </div> -->
   
  
   
    <div class="nav-item" (click)="signOut()">
      <fa-icon [icon]="faLogout" ></fa-icon>
      <span>Logout</span>
    </div>
  </div>