<div class="container-class">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-side-nav></app-side-nav>
      </div>
      <mat-card class="card">
        <mat-card-content>
          <div class="main">
    
            <mat-tab-group headerPosition="above">
              <mat-tab label="Listing of parts">

                <mat-form-field class="mt-4 ml-4">
                    <mat-label>Select Product</mat-label>
                    <mat-select [(ngModel)]="selectedOptions" (selectionChange)="onSelectionChange($event)" multiple>
                      <mat-option *ngFor="let option of products_list" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
 <!-- <h1 class="mt-4">Listing of parts</h1> -->
 <hr>
  
 

             <div class="row">
                <div class="col-md-3" *ngFor="let product of products">
                  <div class="card">
                    <owl-carousel-o [options]="customOptions" class="card-img-top" >
                        <ng-container *ngFor="let slide of product.images">
                            <ng-template class="slide" carouselSlide >
                              <img class="productImage" [src]="slide.image_url" [alt]="slide.id" [title]="slide.id">
                            </ng-template>
                          </ng-container>
                    </owl-carousel-o>
                    
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <h3 class="text-danger">$ {{product.price}}</h3>
                      <div class="d-flex justify-content-between align-items-center">
                        <a class="more_info" (click)="open(mymodal,product.id)">More Info</a>
                        <button class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
              </mat-tab>
 
              
            </mat-tab-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>




  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">View Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <div class="">
            <owl-carousel-o [options]="customOptions" class="card-img-top" >
                <ng-container *ngFor="let slide of editParts?.images">
                    <ng-template class="slide" carouselSlide >
                      <img class="modalImage" [src]="slide.image_url" [alt]="slide.id" [title]="slide.id">
                    </ng-template>
                  </ng-container>
            </owl-carousel-o>
            <h2 class="product-title">{{editParts?.name}}</h2>
            <ul class="product-specs">
              <li><strong>Weight:</strong> {{editParts?.weight}} kg</li>
              <li><strong>SKU:</strong> {{editParts?.sku}}</li>
              <li><strong>Color:</strong> {{editParts?.color}}</li>
              <li><strong>Size:</strong>{{editParts?.size}}</li>
              <li><strong>Specifications:</strong> {{editParts?.specifications}}</li>
              <li><strong>Description:</strong> {{editParts?.description}}</li>
              <!-- <p class="product-description">{{editParts?.description}}</p> -->
            </ul>
            <p class="product-price text-danger">${{editParts?.price}}</p>
            <button class=" btn btn-primary" (click)="addToCart(editParts)" style="float: right">Add to Cart</button>
          </div>

      </div>
    </div>
   
  </ng-template>

  
  
  
  
     

  