<div class="container-class">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-side-nav></app-side-nav>
      </div>
      <mat-card class="card">
        <mat-card-content>
          <div class="main">
    
            <mat-tab-group headerPosition="above">
              <mat-tab label="Products">
                <div class="mat-elevation-z8">
                    <mat-form-field class=" mt-4">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                      </mat-form-field>
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                
                    
                    <ng-container matColumnDef="sku">
                      <th mat-header-cell *matHeaderCellDef> SKU </th>
                      <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
                    </ng-container>
                
                 
                    <ng-container matColumnDef="category">
                      <th mat-header-cell *matHeaderCellDef> Category </th>
                      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="color">
                      <th mat-header-cell *matHeaderCellDef> Color </th>
                      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                    </ng-container>

                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef> Size </th>
                        <td mat-cell *matCellDef="let element"> {{element.size}}  </td>
                      </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Edit </th>
                      <td mat-cell *matCellDef="let element" > <fa-icon (click)="open(mymodal,element.id)" [icon]="faEdit"></fa-icon>  </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </mat-tab>
              <mat-tab label="Add New Product">
                <mat-card class="card mt-4">
                  <mat-card-content>
                    <form #productDetails="ngForm" (ngSubmit)="onAddProduct(productDetails)">

                        <div class="row mt-4">
                            <div class="col-md-6">
                             <label for="">Category</label>
                             <select placeholder="category"  class="form-control" name="category" ngModel >
                                <option value="{{cat.id}}" *ngFor="let cat of category">{{cat.name}}</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                                <label for="">Name</label>
                                 <input type="text" placeholder="Ex. Martin" value="" name="name" ngModel class="form-control">
                               </div>
                          </div>
                      <div class="row mt-4">
                         
            
                         <!-- <div class="col-md-6">
                          <label for="">SKU</label>
                           <input type="text" placeholder="Ex. 12345" value="" class="form-control" name="sku" ngModel >
                         </div> -->

                         <div class="col-md-6">
                            <label for="">color</label>
                            <input type="text" placeholder="Ex.Size" value="" class="form-control" name="color" ngModel  >
                           </div>
                           <div class="col-md-6 ">
                              <label for="">Size</label>
                              <input type="text" placeholder="Ex.300*400" value="" class="form-control" name="size" ngModel>
                             </div>
                         </div>
                           
                         <div class="row mt-4">
                        

                           <div class="col-md-6 ">
                            <label for="">Images</label>
                            <input type="file" multiple  value="" class="form-control" (change)="onFileChange($event)">
                           </div>


                         </div>
                      
                       
                    <div class="row">
                      <div class="col-md-2 mt-4" style="margin: auto;">
                        <button type="submit" class="btn btn-primary
                  ">Add Product</button>
                      </div>
                    </div>
            
                    </form>
                  </mat-card-content>
                  </mat-card>
              </mat-tab>
              
            </mat-tab-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

     
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <form #productDetails="ngForm" (ngSubmit)="onEditProduct(productDetails)">

            <div class="row mt-4">
                <div class="col-md-6">
                 <label for="">Category</label>
                 <select placeholder="category"  class="form-control" name="category" [(ngModel)] = "editProduct.category_id" >
                <option value="{{cat.id}}" *ngFor="let cat of category" [selected]="editProduct?.category?.name == cat.name">{{cat.name}}</option>
                </select>
                </div>
                <div class="col-md-6">
                    <label for="">Name</label>
                     <input type="text" placeholder="Ex. Martin" name="name" class="form-control" [(ngModel)] = "editProduct.name">
                   </div>
              </div>
          <div class="row mt-4">
             

             <!-- <div class="col-md-6">
              <label for="">SKU</label>
               <input type="text" placeholder="Ex. 12345" value="" class="form-control"  name="sku" [(ngModel)] = "editProduct.sku">
             </div> -->

             <div class="col-md-6">
                <label for="">color</label>
                <input type="text" placeholder="Ex.Size" value="" class="form-control" name="color" [(ngModel)] = "editProduct.color">
               </div>
               <div class="col-md-6 ">
                <label for="">Size</label>
                <input type="text" placeholder="Ex.300*400" value="" class="form-control" name="size" [(ngModel)] = "editProduct.size">
               </div>
             </div>
             <div class="row mt-4">
            
            

               <div class="col-md-6 ">
                <label for="">Images</label>
                <input type="file" multiple  value="" class="form-control" (change)="onEditFileChange($event)" >
               </div>


             </div>
          
<div class="row ">
    <div class="col-md-6 mt-4 "  *ngFor="let image of editProduct.images">
        <div class="image-area">
            <img src="{{image.image_url}}"  alt="Preview">
            <a class="remove-image"  style="display: inline;" (click)="deleteImage(image.id,editProduct.id)">&#215;</a>
          </div>
    </div>
</div>

           
             <div class="modal-footer mt-4">
                <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
              </div>

        </form>
      </div>
    </div>
   
  </ng-template>
  