<div class="container-class">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-side-nav></app-side-nav>
      </div>
      <mat-card class="card">
        <mat-card-content>
          <div class="main">
    
            <mat-tab-group headerPosition="above">
              <mat-tab label="Parts">
                <div class="mat-elevation-z8">
                    <mat-form-field class=" mt-4">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                      </mat-form-field>
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef> Product </th>
                        <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                      </ng-container>
                    
                    <ng-container matColumnDef="sku">
                      <th mat-header-cell *matHeaderCellDef> SKU </th>
                      <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
                    </ng-container>
                
                
                    <ng-container matColumnDef="color">
                      <th mat-header-cell *matHeaderCellDef> Color </th>
                      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                    </ng-container>

                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef> Size </th>
                        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                      </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Edit </th>
                      <td mat-cell *matCellDef="let element" > <fa-icon (click)="open(mymodal,element.id)" [icon]="faEdit"></fa-icon>  </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </mat-tab>
              <mat-tab label="Add New Part">
                <mat-card class="card mt-4">
                  <mat-card-content>
                    <form #onAddPart="ngForm" (ngSubmit)="onAddParts(onAddPart)">

                        <div class="row mt-4">
                            <div class="col-md-6">
                             <label for="">Product</label>
                             <select placeholder="Product"  class="form-control" name="product_id" ngModel >
                                <option value="{{product.id}}" *ngFor="let product of products">{{product.name}}</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                                <label for="">Name</label>
                                 <input type="text" placeholder="Ex. Part Name" value="" class="form-control" name="name" ngModel>
                               </div>
                          </div>

                          <div class="row mt-4">
                         
            
                            <div class="col-md-6">
                             <label for="">Specifications</label>
                              <textarea type="text" rows="3" placeholder="" value="" class="form-control" name="specifications" ngModel></textarea>
                            </div>
   
                            <div class="col-md-6">
                               <label for="">Description</label>
                               <textarea type="text" placeholder="" rows="3" value="" class="form-control" name="description" ngModel ></textarea>
                              </div>
                            </div>
                      <div class="row mt-4">
                         
            
                         <!-- <div class="col-md-6">
                          <label for="">SKU</label>
                           <input type="text" placeholder="Ex. 12345" value="" class="form-control" name="sku" ngModel>
                         </div> -->

                         <div class="col-md-6">
                            <label for="">Color</label>
                            <input type="text" placeholder="Ex.Size" value="" class="form-control" name="color" ngModel >
                           </div>

                           <div class="col-md-6">
                            <label for="">Style</label>
                            <input type="text" placeholder="" value="" class="form-control" name="style" ngModel >
                           </div>
                         </div>
                         <div class="row mt-4">
                         <div class="col-md-6">
                            <label for="">Price</label>
                            <input type="number" placeholder="Ex:10" value="" class="form-control" name="price" ngModel >
                           </div>

                           <div class="col-md-6">
                            <label for="">Weight</label>
                            <input type="number" placeholder="EX:2.2" value="" class="form-control" name="weight" ngModel >
                           </div>
                         </div>

  

                         
                         <div class="row mt-4">
                        
                           
                             

                           <div class="col-md-6 ">
                            <label for="">Size</label>
                            <input type="text" placeholder="Ex.300*400" value="" class="form-control" name="size" ngModel>
                           </div>

                           <div class="col-md-6 ">
                            <label for="">Images</label>
                            <input type="file" multiple  value="" class="form-control" (change)="onFileChange($event)">
                           </div>


                         </div>
                         
                      
                       
                    <div class="row">
                      <div class="col-md-2 mt-4" style="margin: auto;">
                        <button type="submit" class="btn btn-primary
                  ">Add Part</button>
                      </div>
                    </div>
            
                    </form>
                  </mat-card-content>
                  </mat-card>
              </mat-tab>
              
            </mat-tab-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

     
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Part</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <form #partDetails="ngForm" (ngSubmit)="onEditParts(partDetails)">

            <div class="row mt-4">
                <div class="col-md-6">
                 <label for="">Product</label>
                 <select placeholder="Product"  class="form-control" name="product_id" [(ngModel)] = "editParts.product_id" >
                    <option value="{{product.id}}" *ngFor="let product of products" [selected]="editParts?.product?.name == product.name">{{product.name}}</option>
                </select>
                </div>
                <div class="col-md-6">
                    <label for="">Name</label>
                     <input type="text" placeholder="Ex. Martin" name="name" value="" class="form-control" [(ngModel)] = "editParts.name">
                   </div>
              </div>
          <div class="row mt-4">
            
             <div class="col-md-6">
                <label for="">color</label>
                <input type="text" placeholder="Ex.Blue" value="" name="color" [(ngModel)] = "editParts.color" class="form-control" >
               </div>

               <div class="col-md-6 ">
                <label for="">Size</label>
                <input type="text" placeholder="Ex.300*400" value="" name="size" [(ngModel)] = "editParts.size" class="form-control" >
               </div>
             </div>

             <div class="row mt-4">
                <div class="col-md-6">
                   <label for="">Price</label>
                   <input type="number" placeholder="Ex:10" value="" class="form-control" name="price" [(ngModel)] = "editParts.price" >
                  </div>

                  <div class="col-md-6">
                   <label for="">Weight</label>
                   <input type="number" placeholder="EX:2.2" value="" class="form-control" name="weight" [(ngModel)] = "editParts.weight" >
                  </div>
                </div>
             <div class="row mt-4">
            
                <div class="col-md-6">
                    <label for="">Specifications</label>
                     <textarea type="text" rows="3" placeholder="" value="" class="form-control" name="specifications" [(ngModel)] = "editParts.specifications"></textarea>
                   </div>

                   <div class="col-md-6">
                      <label for="">Description</label>
                      <textarea type="text" placeholder="" rows="3" value="" class="form-control" name="description" [(ngModel)] = "editParts.description" ></textarea>
                     </div>
                </div>
             <div class="row mt-4">
            
                <div class="col-md-6">
                    <label for="">Style</label>
                    <input type="text" placeholder="" value="" class="form-control" name="style" [(ngModel)]="editParts.style" >
                   </div>

               <div class="col-md-6 ">
                <label for="">Images</label>
                <input type="file" multiple  value="" class="form-control" (change)="onEditFileChange($event)">
               </div>


             </div>
          
             <div class="row ">
                <div class="col-md-6 mt-4 "  *ngFor="let image of editParts.images">
                    <div class="image-area">
                        <img src="{{image.image_url}}"  alt="Preview">
                        <a class="remove-image"  style="display: inline;" (click)="deleteImage(image.id,editParts.id)">&#215;</a>
                      </div>
                </div>
            </div>
           
             <div class="modal-footer mt-4">
                <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')" >Save</button>
              </div>

        </form>
      </div>
    </div>
   
  </ng-template>
  